{% extends "base.html" %}

{% block title %}500 - Внутренняя ошибка сервера{% endblock %}

{% block content %}
<div class="container error-page">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-1">500</h1>
            <h2 class="mb-4">Внутренняя ошибка сервера</h2>
            <p class="lead mb-4">Произошла внутренняя ошибка сервера. Пожалуйста, попробуйте позже или обратитесь к администратору.</p>
            <div class="mb-5">
                <a href="{{ url_for('main.index') }}" class="btn btn-primary btn-lg">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
